.transfer-map {
  background-color: white;
  height: 73vh;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 50px 68.85px;
  background-image: url('../../assets/images/city-map.jpg');
  background-size: 700px 700px;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__organization {
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  }

  &__organization-name {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 0.3rem;
    border-radius: 8px;
    background: white;
  }

  &__truck {
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all .3s ease-out;

    &:focus {
      outline: none;
    }
  }

  &__truck-image {
    opacity: 0.7;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));

    &--controlled {
      opacity: 1;
      animation: lights;
      animation-fill-mode: forwards;
      animation-duration: 2s;
      animation-timing-function: ease-out;
    }
  }

  @keyframes lights {
    $rear: #de2e2e;
    $front: #fff200;

    0% {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
    }

    5% {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1))
      drop-shadow(0 5px 3px $rear)
      drop-shadow(0 -5px 3px $front);
    }

    10% {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
    }

    15% {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1))
      drop-shadow(0 5px 3px $rear)
      drop-shadow(0 -5px 3px $front);
    }

    20% {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
    }

    100% {
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1))
              drop-shadow(0 5px 3px $rear)
              drop-shadow(0 -5px 3px $front);
    }
  }
}

.store-tooltip {
  font-size: 12px;
  z-index: 1040;

  .ant-tooltip-inner {
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    font-size: 12px;

    > div {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
